body {
  color: white;
  background-color: grey;
}

.publiapp {
  color: rgb(255, 253, 253);
  background-color: rgb(0, 0, 0);
}

.footer {
  color: rgb(0, 0, 0);
  background-color: rgb(93, 101, 0);
}